<aside class="min-h-screen  bg-neutral-950 w-72 ">
    <ul class="text-xl text-center pt-10 px-12 text-white ">
        <li class="group flex justify-center items-center mb-3 gap-2 group-hover:before:duration-500 group-hover:after:duration-50 after:duration-500 hover:border-neutral-950 duration-500 hover:duration-500 origin-left hover:decoration-2 hover:text-neutral-300 relative bg-black px-7 py-2 border p-3 text-gray-50  z-0 font-semibold rounded-md overflow-hidden after:absolute   after:w-12 after:h-12 after:content[''] after:bg-sky-500 after:-left-3 after:top-6 after:rounded-full after:blur-lg hover:after:animate-pulse">Home</li>
        <li class="py-2 mb-3 border-transparent hover:border-white hover:bg-black border rounded-md">Projects </li>
        <li class="py-2 mb-3 border-transparent hover:border-white hover:bg-black border rounded-md">Messages</li>
        <li class="py-2 mb-3 border-transparent hover:border-white hover:bg-black border rounded-md">Investments</li>
    </ul>
</aside>
